html.__fb-dark-mode .hop1g133 .hybvsw6c, html.__fb-dark-mode .nred35xi {
  --surface-background: #18191A !important;
  --messenger-card-background: #18191A !important;
  --wash: #3E4042 !important;
}

html.__fb-dark-mode .oo9gr5id {
  --primary-text: #E4E6EB !important;
}

html:not(.__fb-dark-mode) .oo9gr5id {
  --primary-text: #050505 !important;
}

.__fb-dark-mode {
  --header-height: 0px !important;
}

.__fb-dark-mode svg.hwsy1cff, .__fb-dark-mode svg.a8c37x1j {
  fill: white !important;
}
