/* Background */
._4sp8 {
    background-color: #000 !important;
}

/* Search Bar */
._5iwm ._58al {
    background-color: #0a0908 !important;
    color: #bfc3c8 !important;
}

/* Borders */
._673w, ._36ic {
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
}

._1t2u {
    border-left: 1px solid rgba(255, 255, 255, .20) !important;
}

._4_j5 {
    border-left: 1px solid rgba(255, 255, 255, .10) !important;
}

._4rv3, ._1li- {
    border-top: 1px solid rgba(255, 255, 255, .10) !important;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    color: #e2ded6 !important;
}

input, textarea, keygen, select, button, {
    color: #bfc3c8 !important;
}

._1ht6 { /* Name */
    color: white !important;
}

._1ht7 { /* Time */
    color: rgba(255, 255, 255, .40) !important;
}

._1htf { /* Message */
    color: rgba(102, 102, 102, 1) !important;
}
