/* Background */
._4sp8 {
    background-color: #ddd !important;
}

/* Borders */
._673w, ._36ic {
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
}

._1t2u {
    border-left: 1px solid rgba(255, 255, 255, .20) !important;
}

._4_j5 {
    border-left: 1px solid rgba(255, 255, 255, .10) !important;
}

._4rv3, ._1li- {
    border-top: 1px solid rgba(255, 255, 255, .10) !important;
}
