/** Transitions **/
body, ._4sp8, ._4eby, ._59s7, ._3s-4, ._2y8_, ._53ij, ._1sk6, ._4gd0, ._5pw9, ._58ahm, ._4x7m, ._80cm, ._80co {
    -webkit-transition: background 0.5s !important;
}

._2y8_, ._53ij, ._5i_d, ._3wb1, ._3way {
    -webkit-transition: border 0.5s !important;
}

._673w, ._36ic, ._374b, ._2y8y, ._llj, ._2c9i ._4ebz, ._4dx4, ._koh {
    -webkit-transition: border-bottom 0.5s !important;
}

._1t2u, ._4_j5 {
    -webkit-transition: border-left 0.5s !important;
}

._4rv3, ._1li-, ._3war, ._3wax {
    -webkit-transition: border-top 0.5s !important;
}

._3m31:nth-of-type(3n+1) {
    -webkit-transition: border-right 0.5s !important;
}

._3m31:nth-of-type(3n+2) {
    -webkit-transition: border-left 0.5s, border-right 0.5s !important;
}

._3m31:nth-of-type(3n+3) {
    -webkit-transition: border-left 0.5s !important;
}

h1, h2, h3, h4, h5, h6, textarea, keygen, select, ._2v6o, ._5eu7, ._3eus, ._5uh, ._3x6v, ._5rh4, ._5qsj, ._497p, ._5i_d .__6m, ._1r3o, ._374c, ._3q35, ._2y8z, ._2mjl, ._1n-e, ._4dx5, ._38wl, ._4x7m, ._4x79, ._4x7b, body, ._3szq, ._4rph ._4rpj, ._364g, ._2jnv, ._2jnx, ._2jnz, ._2jnx ._30e7 ._5j5f, ._5i_d .__6k, ._5i_d .__6l, ._3wa-, ._3wb0, ._2c9i ._19jt, ._4ng2, ._3q34, ._36zg, input, ._hh7 a, ._3eur._6ybk a, label, ._618l, ._618n, ._6cs7, ._koh li:not(.selected), ._517h, ._1suj, ._1suk, .uiInputLabel .__rm+.uiInputLabelLabel, ._7492, ._5iwm ._58al::-webkit-input-placeholder, ._5pwa, ._5pw6, ._58al, ._74ku, ._7q1q, ._7ht_, ._6ct8._6y58 {
    -webkit-transition: color 0.5s !important;
}

._225b, ._jf4 ._jf3 {
    -webkit-transition: background-color 0.5s, color 0.5s !important;
}

hr {
    -webkit-transition: background 0.5s, color 0.5s !important;
}

._33p7 {
    -webkit-transition: background-color 0.5s, border-bottom 0.5s !important;
}

._2615, ._1ht1._1ht2, ._1hbw ._5pd7, ._4-hy ._3ixn, ._7jxv, ._5iwm ._58al, ._6ymu, ._6-xp, ._6ybv, ._6y56, ._6ybz, ._7hu0, ._7hty {
    -webkit-transition: background-color 0.5s !important;
}

._5pw9, ._58ah, ._7q0v, ._7q1i, ._7q1m, ._7q1n {
    -webkit-transition: border-color 0.5s !important;
}

._7q1p {
    -webkit-transition: background-color 0.5s, border-color 0.5s !important;
}

._3nta {
    -webkit-transition: background 0.5s, border-bottom 0.5s !important;
}

._3nta:hover {
    -webkit-transition: background-color 0.0s !important;
}

._4rv6, a._4ce_ {
    -webkit-transition: -webkit-filter 0.5s, opacity 0.5s !important;
}

#js_6 + rect, path#Fill-1, path#Fill-2, path#Fill-23, path#Fill-24, ._7oal path {
    -webkit-transition: fill 0.5s !important;
}

._7i2l path#Fill-1 {
    -webkit-transition: fill 0.0s !important;
}

._7301._hh7, ._7301._hh7._hh7._6ybn {
    -webkit-transition: background-color 0.5s, border-color 0.5s, color 0.5s !important;
}

._18p0 {
    -webkit-transition: border-top-color 0.5s !important;
}

._41ud div:not(._nd_) ._hh7:not(._2f5r):not(._7301) {
    -webkit-transition: background-color 0.5s, color 0.5s !important;
}

._aou, ._4kf5, ._4kf6:not(._fy2) {
    -webkit-transition: background 0.5s, color 0.5s !important;
}

._4k7a {
    -webkit-transition: color 0.5s !important;
}

._4dfu {
    -webkit-transition: background-image 0.5s !important;
}






/* --------------------------------------------------------------------------- */

body.blackMode, body.blackMode ._4sp8, body.blackMode ._4eby, body.blackMode ._59s7, body.blackMode ._3s-4, body.blackMode ._2y8_, body.blackMode ._53ij, body.blackMode ._1sk6, body.blackMode ._4gd0, body.blackMode ._5pw9, body.blackMode ._58ahm, body.blackMode ._80cm {
    background: black !important;
}

/*body.blackMode ._4sp8 {
    background-image: url("image.jpg") !important;
    background-size: cover !important;
}*/

body.blackMode ._2y8_, body.blackMode ._53ij {
    border: 1px solid rgba(255, 255, 255, .60) !important;
}

/* Borders */
body.blackMode ._673w, body.blackMode ._36ic, body.blackMode ._374b, body.blackMode ._2y8y {
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
}

body.blackMode ._llj {
    border-bottom: 1px solid rgba(255, 255, 255, .05) !important;
}

body.blackMode ._1t2u {
    border-left: 1px solid rgba(255, 255, 255, .20) !important;
}

body.blackMode ._4_j5 {
    border-left: 1px solid rgba(255, 255, 255, .10) !important;
}

body.blackMode ._4rv3, body.blackMode ._1li-, body.blackMode ._3war, body.blackMode ._3wax {
    border-top: 1px solid rgba(255, 255, 255, .10) !important;
}

/* Text */
body.blackMode h1, body.blackMode h2, body.blackMode h3, body.blackMode h4, body.blackMode h5, body.blackMode h6 {
    color: #e2ded6 !important;
}

body.blackMode textarea, body.blackMode keygen, body.blackMode select {
    color: #bfc3c8 !important;
}

body.blackMode ._2v6o, body.blackMode ._5eu7, body.blackMode ._3eus, body.blackMode ._5uh, body.blackMode ._3x6v, body.blackMode ._5rh4, body.blackMode ._5qsj, body.blackMode ._497p, body.blackMode ._5i_d .__6m, body.blackMode ._1r3o, body.blackMode ._374c, body.blackMode ._3q35, body.blackMode ._2y8z, body.blackMode ._2mjl, body.blackMode ._1n-e, body.blackMode ._4dx5, body.blackMode ._38wl, body.blackMode ._4x7m, body.blackMode ._4x79, body.blackMode ._4x7b, body.blackMode ._7ht_ {
    color: rgba(255, 255, 255, .40) !important;
}

body.blackMode, body.blackMode ._3szq, body.blackMode ._4rph ._4rpj, body.blackMode ._364g, body.blackMode ._2jnv, body.blackMode ._2jnx, body.blackMode ._2jnz, body.blackMode ._2jnx ._30e7 ._5j5f, body.blackMode ._5i_d .__6k, body.blackMode ._5i_d .__6l, body.blackMode ._3wa-, body.blackMode ._3wb0, body.blackMode ._2c9i ._19jt, body.blackMode ._4ng2, body.blackMode ._3q34, body.blackMode ._36zg, body.blackMode input, body.blackMode ._hh7 a, body.blackMode ._3eur._6ybk a, body.blackMode ._7q1q, body.blackMode ._6ct8._6y58 {
    color: white !important;
}

/* --------------------------------------------------------------------------- */

/* Transition from unread to read */

/* ._1ht6 = name, ._1ht7 = time, ._1htf = message, ._1ht3 = unread */

._1ht6, ._1ht7, ._1htf {
    -webkit-transition: color 0.5s, font-weight 0.5s !important;
}

._1ht1:active ._1ht6, ._1ht1:active ._1ht7, ._1ht1:active ._1htf {
    -webkit-transition: color 0.0s !important;
}

body.blackMode ._1ht6, body.blackMode ._1ht1:active ._1ht6 {
    color: white !important;
}

body.blackMode ._1ht7, body.blackMode ._1ht1:active ._1ht7 {
    color: rgba(255, 255, 255, .40) !important;
}

body.blackMode ._1ht3 ._1ht7, body.blackMode ._1ht3:active ._1ht7 {
    color: #0084ff !important;
}

body.blackMode ._1htf, body.blackMode ._1ht1:active ._1htf {
    color: rgba(102, 102, 102, 1) !important;
}

body.blackMode ._1ht3 ._1htf, body.blackMode ._1ht3:active ._1htf {
    color: white !important;
}

/* --------------------------------------------------------------------------- */

body.blackMode ._225b {
    background-color: rgba(255, 255, 255, .03) !important;
    color: rgba(255, 255, 255, .40) !important;
}

body.blackMode label {
    color: #999999 !important;
}

body.blackMode ._5i_d {
    border: 1px solid rgba(255, 255, 255, .1) !important;
}

body.blackMode ._618l {
    color: rgba(255, 255, 255, .75) !important;
}

body.blackMode ._618n, body.blackMode ._6cs7 {
    color: rgba(255, 255, 255, .60) !important;
}

body.blackMode hr {
    background: #262626 !important;
    color: #262626 !important;
}

body.blackMode ._2c9i ._4ebz, body.blackMode ._4dx4 {
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
}

body.blackMode ._koh {
    border-bottom: 1px solid #171717 !important;
}

body.blackMode ._koh li:not(.selected) {
    color: rgba(255, 255, 255, .5) !important;
}

body.blackMode ._3m31:nth-of-type(3n+1) {
    border-right: 2px solid black !important;
}

body.blackMode ._3m31:nth-of-type(3n+2) {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

body.blackMode ._3m31:nth-of-type(3n+3) {
    border-left: 2px solid black !important;
}

body.blackMode ._33p7 {
    background-color: rgba(0, 0, 0, .95) !important;
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
}

body.blackMode ._2615 {
    background-color: rgba(255, 255, 255, .10) !important;
}

body.blackMode ._517h {
    color: #b4b0a9 !important;
}

body.blackMode ._jf4 ._jf3 {
    background-color: rgba(255, 255, 255, .10) !important;
    color: rgba(255, 255, 255, .40) !important;
}

body.blackMode ._1ht1._1ht2 {
    background-color: rgba(255, 255, 255, .07) !important;
}

body.blackMode ._1ht1:hover {
    background-color: rgba(255, 255, 255, .07) !important;
}

body.blackMode ._1ht1:active {
    background-color: rgba(255, 255, 255, .10) !important;
}

body.blackMode ._1suj {
    color: rgb(0, 132, 255) !important;
}

body.blackMode ._1suk {
    color: rgba(255, 255, 255, .20) !important;
}

body.blackMode .uiInputLabel .__rm+.uiInputLabelLabel {
    color: rgba(255, 255, 255, .88) !important;
}

body.blackMode ._7492 {
    color: rgba(255, 255, 255, .5) !important;
}

body.blackMode ._4-hy ._3ixn {
    background-color: rgba(255, 255, 255, .4) !important;
}

body.blackMode ._7jxv {
    background: rgba(0, 0, 0, .4) !important;
}

body.blackMode ._5iwm ._58al {
    background-color: #0a0908 !important;
}

body.blackMode ._5iwm ._58al::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .4) !important;
}

body.blackMode ._5pw9 {
    border-color: #22201d !important;
}

body.blackMode ._5pwa, body.blackMode ._5pw6 {
    color: #e2ded6 !important;
}

body.blackMode ._58ah {
    border-color: rgb(34, 32, 29) !important;
}

body.blackMode ._58al {
    color: rgb(226, 222, 214) !important;
}

body.blackMode ._4x7m {
    background: rgba(255, 255, 255, .05) !important;
}

body.blackMode ._3wb1, body.blackMode ._3way {
    border: 1px solid #191919 !important;
}

body.blackMode ._3nta {
    background: black !important;
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
}

body.blackMode ._3nta:hover {
    background-color: #0a0908 !important;
}

body.blackMode ._1liy ._1lj0:hover {
    background-color: rgba(255, 255, 255, .05) !important;
}

body.blackMode ._2jnv:hover {
    border: 1px solid rgba(255, 255, 255, .10) !important;
}

body.blackMode ._4rv6 {
    -webkit-filter: invert(100%) !important;
    opacity: .6 !important;
}

body.blackMode a._4ce_ {
    -webkit-filter: invert(100%) !important;
    opacity: .7 !important;
}

body.blackMode ._74ku {
    color: rgba(255, 255, 255, .5) !important;
}

body.blackMode #js_6 + rect {
    fill: black !important;
}

body.blackMode ._6ymu, body.blackMode ._6-xp, body.blackMode ._6ybv, body.blackMode ._6y56, body.blackMode ._6ybz, body.blackMode ._7hu0, body.blackMode ._7hty, body.blackMode ._5zvq._7i2o:hover, body.blackMode ._3-wv._7i2n:hover, body.blackMode ._2rvp._7i2l:hover {
    background-color: rgba(255, 255, 255, .12) !important;
}

body.blackMode path#Fill-1, body.blackMode path#Fill-2, body.blackMode path#Fill-23, body.blackMode path#Fill-24, body.blackMode ._7i2o:hover path, body.blackMode ._7i2n:hover path#Fill-19, body.blackMode ._7i2l:hover path#Fill-1, body.blackMode ._7oal path {
    fill: white !important;
}

body.blackMode ._4k7a {
    color: rgba(255, 255, 255, .5) !important;
}

body.blackMode ._7i2o path, body.blackMode ._7i2n path#Fill-19, body.blackMode ._7i2l path#Fill-1 {
    fill: rgba(255, 255, 255, 0.34) !important;
}

body.blackMode ._1hbw ._5pd7 {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

body.blackMode ._7301._hh7, body.blackMode ._7301._hh7._hh7._6ybn {
    background-color: black !important;
    border-color: rgba(255, 255, 255, .1) !important;
    color: rgba(255, 255, 255, .4) !important;
}

body.blackMode ._18p0 {
    border-top-color: rgba(255, 255, 255, .1) !important;
}

body.blackMode ._7q0v, body.blackMode ._7q1i, body.blackMode ._7q1p._7q1l, body.blackMode ._7q1m, body.blackMode ._7q1n {
    border-color: black !important;
}

body.blackMode ._41ud div:not(._nd_) ._hh7:not(._2f5r):not(._7301) {
    background-color: rgb(50, 51, 52) !important;
    color: white !important;
}

body.blackMode ._aou, body.blackMode ._4kf5 {
    background: rgb(86, 87, 88) !important;
}

body.blackMode ._4kf6:not(._fy2) {
    color: #9d9d9d !important;
}

body.blackMode ._7q1p {
    background-color: rgb(50, 51, 52) !important;
}

body.blackMode ._80co {
    background: rgba(0, 0, 0, .5) !important;
}

body.blackMode ._4dfu {
    background-image: linear-gradient(to right, black, rgba(44, 44, 44, .45), black) !important;
}
