body.blackMode, body.blackMode ._4sp8, body.blackMode ._4eby, body.blackMode ._59s7, body.blackMode ._3s-4, body.blackMode ._2y8_, body.blackMode ._3nta, body.blackMode ._53ij, body.blackMode ._1sk6, body.blackMode ._4gd0 {
    background: black !important;
    -webkit-transition: background 0.5s !important;
}

/*body.blackMode ._4sp8 {
    background-image: url("ryshika.JPG") !important;
    background-size: cover !important;
}*/

body.blackMode ._2y8_, body.blackMode ._53ij {
    border: 1px solid rgba(255, 255, 255, .60) !important;
    -webkit-transition: border 0.5s !important;
}

/* Borders */
body.blackMode ._673w, body.blackMode ._36ic, body.blackMode ._374b, body.blackMode ._2y8y, body.blackMode ._3nta {
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
    -webkit-transition: border-bottom 0.5s !important;
}

body.blackMode ._llj {
    border-bottom: 1px solid rgba(255, 255, 255, .05) !important;
    -webkit-transition: border-bottom 0.5s !important;
}

body.blackMode ._1t2u {
    border-left: 1px solid rgba(255, 255, 255, .20) !important;
    -webkit-transition: border-left 0.5s !important;
}

body.blackMode ._4_j5 {
    border-left: 1px solid rgba(255, 255, 255, .10) !important;
    -webkit-transition: border-left 0.5s !important;
}

body.blackMode ._4rv3, body.blackMode ._1li-, body.blackMode ._3war, body.blackMode ._3wax {
    border-top: 1px solid rgba(255, 255, 255, .10) !important;
    -webkit-transition: border-top 0.5s !important;
}

/* Text */
body.blackMode h1, body.blackMode h2, body.blackMode h3, body.blackMode h4, body.blackMode h5, body.blackMode h6 {
    color: #e2ded6 !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode textarea, body.blackMode keygen, body.blackMode select {
    color: #bfc3c8 !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._1htf { /* Message */
    color: rgba(102, 102, 102, 1) !important;
    -webkit-transition: color 0.5s, font-weight 0.5s !important;
}

body.blackMode ._1ht1:active ._1htf { /* Message */
    color: rgba(102, 102, 102, 1) !important;
    -webkit-transition: color 0.0s !important;
}

body.blackMode ._1ht3 ._1htf {
    color: white !important;
    -webkit-transition: color 0.5s, font-weight 0.5s !important;
}

body.blackMode ._1ht3:active ._1htf {
    color: white !important;
    -webkit-transition: color 0.0s !important;
}

body.blackMode ._2v6o, body.blackMode ._5eu7, body.blackMode ._3eus, body.blackMode ._5uh, body.blackMode ._3x6v, body.blackMode ._5rh4, body.blackMode ._5qsj, body.blackMode ._497p, body.blackMode ._5i_d .__6m, body.blackMode ._1r3o, body.blackMode ._374c, body.blackMode ._3q35, body.blackMode ._2y8z, body.blackMode ._2mjl, body.blackMode ._1n-e {
    color: rgba(255, 255, 255, .40) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode, body.blackMode ._3szq, body.blackMode ._4rph ._4rpj, body.blackMode ._364g, body.blackMode ._2jnv, body.blackMode ._2jnx, body.blackMode ._2jnz, body.blackMode ._2jnx ._30e7 ._5j5f, body.blackMode ._5i_d .__6k, body.blackMode ._5i_d .__6l, body.blackMode ._3wa-, body.blackMode ._3wb0, body.blackMode ._2c9i ._19jt, body.blackMode ._4ng2, body.blackMode ._3q34, body.blackMode ._36zg, body.blackMode input {
    color: white !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._1ht6 {
    color: white !important;
    -webkit-transition: color 0.5s, font-weight 0.5s !important;
}

body.blackMode ._1ht1:active ._1ht6 {
    color: white !important;
    -webkit-transition: color 0.0s !important;
}

body.blackMode ._1ht3 ._1ht6 {
    -webkit-transition: font-weight 0.5s !important;
}

body.blackMode ._225b {
    background-color: rgba(255, 255, 255, .03) !important;
    color: rgba(255, 255, 255, .40) !important;
    -webkit-transition: background-color 0.5s, color 0.5s !important;
}

body.blackMode label {
    color: #999999 !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._1ht7 {
    color: rgba(255, 255, 255, .40) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._1ht1:active ._1ht7 {
    color: rgba(255, 255, 255, .40) !important;
    -webkit-transition: color 0.0s !important;
}

body.blackMode ._1ht3 ._1ht7 {
    color: #0084ff !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._1ht3:active ._1ht7 {
    color: #0084ff !important;
    -webkit-transition: color 0.0s !important;
}

body.blackMode ._5i_d {
    border: 1px solid rgba(255, 255, 255, .1) !important;
    -webkit-transition: border 0.5s !important;
}

body.blackMode ._618l {
    color: rgba(255, 255, 255, .75) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._618n, body.blackMode ._6cs7 {
    color: rgba(255, 255, 255, .60) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode hr {
    background: #262626 !important;
    color: #262626 !important;
    -webkit-transition: background 0.5s, color 0.5s !important;
}

body.blackMode ._2c9i ._4ebz {
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
    -webkit-transition: border-bottom 0.5s !important;
}

body.blackMode ._koh {
    border-bottom: 1px solid #171717 !important;
    -webkit-transition: border-bottom 0.5s !important;
}

body.blackMode ._koh li:not(.selected) {
    color: rgba(255, 255, 255, .5) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._3m31:nth-of-type(3n+1) {
    border-right: 2px solid black !important;
    -webkit-transition: border-right 0.5s !important;
}

body.blackMode ._3m31:nth-of-type(3n+2) {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    -webkit-transition: border-left 0.5s, border-right 0.5s !important;
}

body.blackMode ._3m31:nth-of-type(3n+3) {
    border-left: 2px solid black !important;
    -webkit-transition: border-left 0.5s !important;
}

body.blackMode ._33p7 {
    background-color: rgba(0, 0, 0, .95) !important;
    border-bottom: 1px solid rgba(255, 255, 255, .10) !important;
    -webkit-transition: background-color 0.5s, border-bottom 0.5s !important;
}

body.blackMode ._2615 {
    background-color: rgba(255, 255, 255, .10) !important;
    -webkit-transition: background-color 0.5s !important;
}

body.blackMode ._517h {
    color: #b4b0a9 !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._jf4 ._jf3 {
    background-color: rgba(255, 255, 255, .10) !important;
    color: rgba(255, 255, 255, .40) !important;
    -webkit-transition: background-color 0.5s, color 0.5s !important;
}

body.blackMode ._1ht1._1ht2 {
    background-color: rgba(255, 255, 255, .07) !important;
    -webkit-transition: background-color 0.5s !important;
}

body.blackMode ._1ht1:hover {
    background-color: rgba(255, 255, 255, .07) !important;
}

body.blackMode ._1ht1:active {
    background-color: rgba(255, 255, 255, .10) !important;
}

body.blackMode ._1suj {
    color: rgb(0, 132, 255) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._1suk {
    color: rgba(255, 255, 255, .20) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode .uiInputLabel .__rm+.uiInputLabelLabel {
    color: rgba(255, 255, 255, .88) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._7492 {
    color: rgba(255, 255, 255, .5) !important;
    -webkit-transition: color 0.5s !important;
}

body.blackMode ._4-hy ._3ixn {
    background-color: rgba(255, 255, 255, .4) !important;
    -webkit-transition: background-color 0.5s !important;
}

body.blackMode ._7jxv {
    background: rgba(0, 0, 0, .4) !important;
    -webkit-transition: background-color 0.5s !important;
}

body.blackMode ._5iwm ._58al {
    background-color: #0a0908 !important;
    -webkit-transition: background-color 0.5s !important;
}

body.blackMode ._5iwm ._58al::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .4) !important;
}
