body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SF Pro Display", Helvetica, sans-serif;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.navbar-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo {
  display: inline-block;
  width: 23px;
  padding-right: 8px;
  padding-top: 8px;
}

.navbar-download {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-browser {
  display: inline-block;
  width: 24px;
  padding-left: 8px;
  padding-top: 4px;
}

p#download {
  font-weight: 200;
  padding-right: 4px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar-browser svg {
  fill: rgba(255, 255, 255, 0.7);
  transition: fill 0.2s;
  -webkit-transition: fill 0.2s;
}

#navbar-safari:hover svg {
  fill: rgb(75, 161, 241);
}

#navbar-chrome:hover svg {
  fill: rgb(206, 92, 78);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: white;
  display: inline;
  font-weight: 400;
  font-size: 24px;
}

.title {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 28px;
  padding-right: 10px;
  padding-top: 6px;
}

h2 {
  color: white;
  display: inline;
  font-weight: 400;
  font-size: 30px;
}

h1 {
  color: white;
  display: inline;
  font-weight: 500;
  font-size: 84px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 50px;
}

#promo {
  width: 100vw;
}

.description {
  width: 60vw;
  color: rgba(255, 255, 255, 0.75);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
}

.download-button {
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

#download-safari {
  background: linear-gradient(rgb(75, 161, 241), rgb(54, 128, 241));
}

#download-chrome {
  background: linear-gradient(rgb(206, 92, 78), rgb(206, 52, 58));
}
