body {
  background-color: black;
  color: white;
  font-family: "sf_pro_textregular", Helvetica, sans-serif;
  font-size: 16px;
}

.top {
  margin-top: 15vh;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-family: "sf_pro_displaythin", Helvetica, sans-serif;
  font-size: 60px;
  margin-top: 0;
  line-height: 1.2;
}
