body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  font-size: calc(16em / 16);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SF Pro Display", Helvetica, sans-serif;
}

.navbar {
  visibility: hidden;

  position: fixed;
  width: 100vw;
  top: calc(-60rem / 16);
  height: calc(60rem / 16);

  display: flex;
  justify-content: space-between;

  background-color: rgba(36, 36, 36, 0.5);
  backdrop-filter: blur(calc(20rem / 16));
  -webkit-backdrop-filter: blur(calc(20rem / 16));

  transition: 0.2s;
}

.navbar.visible {
  visibility: visible;
  top: 0;
}

.navbar-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: calc(40rem / 16);
}

.navbar-logo {
  display: inline-block;
  width: calc(23rem / 16);
  padding-right: calc(8rem / 16);
  padding-top: calc(8rem / 16);
}

.navbar-download {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: calc(40rem / 16);
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.navbar-browser {
  display: inline-block;
  width: calc(24rem / 16);
  padding-left: calc(8rem / 16);
  padding-top: calc(4rem / 16);
}

p#download {
  font-weight: 200;
  padding-right: calc(4rem / 16);
  color: rgba(255, 255, 255, 0.7);
}

.navbar-browser svg {
  fill: rgba(255, 255, 255, 0.7);
  transition: fill 0.2s;
  -webkit-transition: fill 0.2s;
}

#navbar-safari:hover svg {
  fill: rgb(84, 174, 248);
}

#navbar-chrome:hover svg {
  fill: rgb(206, 92, 78);
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  color: white;
  display: inline;
  font-weight: 400;
  font-size: calc(24rem / 16);
}

.title {
  display: flex;
  flex-direction: row;
  margin-top: calc(130rem / 16);
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: margin-top 1000ms, opacity 1000ms;
}

.title.loaded {
  margin-top: calc(120rem / 16);
  opacity: 1;
}

.logo {
  display: inline-block;
  width: calc(28rem / 16);
  padding-right: calc(10rem / 16);
  padding-top: calc(6rem / 16);
}

h3 {
  color: white;
  display: inline;
  font-weight: 400;
  font-size: calc(30rem / 16);
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
  display: inline;
  font-weight: 500;
  font-size: calc(84rem / 16);
  line-height: 1.2;
  margin-top: calc(10rem / 16);
  opacity: 0;
  margin-bottom: calc(50rem / 16);
  transition: margin-top 1000ms, opacity 1000ms;
}

h1.loaded {
  margin-top: 0;
  opacity: 1;
}

#promo {
  width: 98vw;
  margin-top: calc(5rem / 16);
  opacity: 0;
  transition: opacity 1000ms, margin-top 1000ms, width 1000ms;
}

#promo.loaded {
  width: 100vw;
  margin-top: 0;
  opacity: 1;
}

.description {
  width: 60vw;
  color: rgba(255, 255, 255, 0.75);
  padding-top: calc(20rem / 16);
  padding-bottom: calc(20rem / 16);
  font-size: calc(20rem / 16);
  font-weight: 300;
  margin-top: calc(10rem / 16);
  opacity: 0;
  transition: margin-top 750ms, opacity 750ms;
}

.description.visible {
  margin-top: 0;
  opacity: 1;
}

#download-buttons {
  margin-top: calc(10rem / 16);
  opacity: 0;
  transition: margin-top 750ms, opacity 750ms;
}

#download-buttons.visible {
  margin-top: 0;
  opacity: 1;
}

.download-button {
  font-family: "SF Pro Text", Helvetica, sans-serif;
  color: white;
  font-size: calc(14rem / 16);
  border: none;
  border-radius: calc(4rem / 16);
  padding: calc(6rem / 16) calc(16rem / 16);
  margin-left: calc(10rem / 16);
  margin-right: calc(10rem / 16);
  cursor: pointer;
}

#download-safari {
  background: linear-gradient(rgb(84, 174, 248), rgb(54, 128, 241));
}

#download-chrome {
  background: linear-gradient(rgb(206, 92, 78), rgb(206, 52, 58));
}

.customization {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(160rem / 16);
  margin-bottom: calc(100rem / 16);
  width: 75vw;
  opacity: 0;
  transition: margin-top 750ms, opacity 750ms;
}

.customization.visible {
  margin-top: calc(150rem / 16);
  opacity: 1;
}

.customization-topic h3 {
  color: rgb(84, 174, 248);
}

.customization-description {
  color: rgba(255, 255, 255, 0.75);
  font-size: calc(20rem / 16);
  font-weight: 300;
  margin-bottom: calc(36rem / 16);
}

h2 {
  font-size: calc(60rem / 16);
  font-weight: 500;
  line-height: 1.2;
  display: inline;
}

.customization-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

.customization-table {
  display: flex;
  flex-direction: column;
}

.customization-row {
  display: flex;
  margin-bottom: calc(32rem / 16);
  align-items: flex-start;
}

.customization-icon {
  display: inline-block;
  width: calc(36rem / 16);
  flex-basis: auto;
  padding-right: calc(16rem / 16);
  padding-top: calc(4rem / 16);
}

.customization-content {
  width: calc(350rem / 16);
}

.customization-content p {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

#manual-title {
  color: rgb(76, 217, 100);
}

#scheduled-icon svg {
  fill: rgb(84, 174, 248);
}

#scheduled-title {
  color: rgb(84, 174, 248);
}

#sunsetToSunrise-icon svg {
  fill: rgb(255, 167, 38);
}

#sunsetToSunrise-title {
  color: rgb(255, 167, 38);
}

#menu {
  width: calc(250rem / 16);
}

.footer {
  position: absolute;
  width: 100vw;
  height: calc(60rem / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
  font-size: calc(12rem / 16);
  font-weight: 300;
}


/* Portrait devices such as phones */
@media (orientation: portrait) {
  html {
    font-size: 32px;
  }

  .navbar {
    justify-content: center;
  }

  .navbar-title {
    padding-left: 0;
  }

  .navbar-download {
    display: none;
  }

  .customization {
    margin-top: calc(100rem / 16);
  }

  .customization.visible {
    margin-top: calc(90rem / 16);
  }

  .customization-body {
    justify-content: center;
  }

  .description, .customization, #menu {
    width: 80vw;
  }

  .customization-icon {
    width: auto;
  }

  .customization-content {
    width: auto;
  }

  #download-buttons {
    display: none;
  }

}
