body {
  background-color: black;
  color: white;
  font-family: "sf_pro_textregular", Helvetica, sans-serif;
  font-size: 16px;
}

.top {
  margin-top: 20vh;
}

.centered {
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: "sf_pro_textlight", Helvetica, sans-serif;
  font-size: 48px;
}
